$primary-color: #151515;
$secondary-color: #EEE8DC;

*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
  font-size: 16px;
}

p{
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1.5fr auto;
  gap: 10px 0;
  width: 70vw;
  height: auto;

  .header{
    display: grid;
    grid-template: repeat(1, 2fr 1fr) /  repeat(1, 1fr);
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    &__name{
      grid-column: 1 / 1;
      grid-row: 1 / 2;
    }
    &__top-information{
      grid-column: 1 / 1;
      grid-row: 2 / 3;
    }
  }
  .contain{
    border: 2px $primary-color solid;
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    padding: 8px;
    display: grid;
    grid-template-rows: repeat(2, auto) 0.5fr;
    grid-template-columns: 26% 36% 38%;
    grid-template-areas:
    "undesirable undesirable sidebar"
    "hermione article article"
    "footer footer footer";
  }
  .undesirable{
    grid-area: undesirable;
  }

  .sidebar{
    grid-area: sidebar;
    .harry-character{
      img{
        width: 100%;
      }

    }
    .section{
      .text-1{
        font-family: 'Inika', serif;
        font-size: 1.7vw;
        text-align: center;
        text-transform: uppercase;
      }
      .text-2{
        img {
          width: 100%;
        }        
      }
    }
  }

  .hermione-character{
    grid-area: hermione;
  }

  .hermione-article{
    grid-area: article;
    display: grid; 
    grid-template-columns: 0.5fr auto 3.5fr; 
    grid-template-rows: 1fr auto;
    gap: 6px;
    grid-template-areas:
    "mudblood section-1 section-2"
    "mudblood section-3 section-3"
    ;
    .mudblood{
      grid-area: mudblood;
      display: grid;
      justify-items: center;
      padding: 0 0 6px 6px;
      img{
        width: 100%;
      }
    }
    .section-1{
      grid-area: section-1;
      display: grid;
      grid-template-columns: repeat(2, auto);
      .name{
        font-family: 'Inika', serif;
        font-size: 1.7vw;
        text-transform: uppercase;
        transform: rotate(180deg);
        writing-mode: vertical-rl;

      }
      .text{
        font-family: 'Akaya Kanadaka', system-ui;
        font-size: 1vw;
        text-transform: uppercase;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
      }
    }
    .section-2{
      grid-area: section-2;
      .text-1{
        font-family: 'Inika', serif;
        font-size: 1.7vw;
        text-transform: uppercase;
      }
      .quote{
        img{
          width: 100%;
        }        
      }
    }
    .section-3{
      grid-area: section-3;
      display: grid;
      grid-template-columns: 0.4fr 1fr 1fr;
      gap: 8px;
      align-content: center;
      align-items: end;
      .letter img{
        width: 100%;
      }
      .report{
        img{
          width: 100%;
        } 
      }
      .relationship{
        img{
          width: 100%;
        } 
      }
    }
  }

  .footer{
    grid-area: footer;
    display: flex;
    img{
      width: 100%;
    }
  }

}

@media (max-width:720px){
  .container{
    width: 80vw;
  }
}

@media (max-width:450px){
  .container{
    width: 90vw;
  }
}

